<nav>
    <ul class="nav">
        <li class="nav-item">
            <a href="../" class="nav-item-link" >home</a>
        </li>
        <li class="nav-item">
            <a href="/nosotros" class="nav-item-link" >nosotros</a>
        </li>
        <li class="nav-item">
            <a href="/contacto" class="nav-item-link" >contacto</a>
        </li>
    </ul>
</nav>