<nav>
    <ul class="nav">
        <li class="nav-item">
            <a href="../" class="nav-item-link" >Home</a>
        </li>
        <li class="nav-item">
            <a href="us" class="nav-item-link" >Us</a>
        </li>
        <li class="nav-item">
            <a href="contact" class="nav-item-link" >Contact</a>
        </li>
        <li class="nav-item">
            <a href="authors" class="nav-item-link" >Authors</a>
        </li>
        <li class="nav-item">
            <a href="books" class="nav-item-link" >Books</a>
        </li>
        <li class="nav-item">
            <a href="add" class="nav-item-link" >Add</a>
        </li>
        <li class="nav-item">
            <form action="search" method="GET">
<!-- en la URL se verá como: "search?query=algo" porque name=query y es de tipo "search"-->
<!-- name podría haber sido "libro" o "autor" etc. -->
                <input type="search" name="zapato">
               <input type="submit" value="search">
            </form>
        </li>
    </ul>
</nav>