<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <!-- la imagen está dentro de /public/iamges pero se renderiza sin el "/public" -->
    <img src="/images/gatito.jpg" alt="#">
  </body>
</html>
