body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  color:hotpink;
}
a {
  color: #00B7FF;
}

.nav{
  background-color: rgb(56, 188, 240);
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 20px;
}
.nav-item{
flex-grow: 1;
text-align: center;
}
.nav-item-link{
  color: antiquewhite;
}